@{
    ViewBag.Title = "Welcome to Barry's image sharing";
}

<div class="container-content">
    <p>
        Welcome to Barry's Images.
    </p>

    <h2>Latest Images</h2>

    @Html.Action("_ImageGallery", "Image", new { number = 3 })
</div>