@{
    ViewBag.Title = "Welcome to Barry's image sharing";
}

<div class="container-content">
    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
            <li data-target="#imageCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../Content/Images/Carousel/60_RedBull_14072013.jpg" class="img-responsive" />
            </div>
            <div class="item">
                <img src="../../Content/Images/Carousel/26_Greenwich_08062013.jpg" class="img-responsive" />
            </div>
            <div class="item">
                <img src="../../Content/Images/Carousel/39_HeathrowWestTakeOff_12052013.jpg" class="img-responsive" />
            </div>
            <div class="item">
                <img src="../../Content/Images/Carousel/01_LondonNightShoot_07122012-90.jpg" class="img-responsive" />
            </div>
        </div>
        <!-- next and prev navigation -->
        <a class="left carousel-control" href="#imageCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#imageCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    @Html.Action("_AlbumGallery", "Image", new { number = 3 })
</div>
