@model IEnumerable<SiriusApplication.Models.Album>




@foreach(var item in Model)
{
    <h3>"@item.Title"</h3>
    
    if (item.AlbumCoverFile != null)
    {
        <img class="img-circle" width="140" height="140" src="@Url.Action("GetAlbumCoverImage", "Album", new { id = item.AlbumID })" />
    }
    
    <p>
        Created On:@Html.DisplayFor(model => item.CreatedDate)
    </p>
    
}