@model IEnumerable<SiriusApplication.Models.Image>

@foreach(var item in Model)
{
    <h3>"@item.Title"</h3>
    
    if (item.ImageFile != null)
    {
        <img width="200" src="@Url.Action("GetImage", "Image", new { id = item.ImageID })" />
    }
    
    <p>
        Created On:@Html.DisplayFor(model => item.CreatedDate)
    </p>
    
    @Html.ActionLink("Details", "DisplayById", new { id = item.ImageID })
}