@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS-DEV -->
    <link href="~/content/bootstrap-less/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-PRODUCTION -->
    @*<link href="~/content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<!-- CSS extended from Bootstrap. Must be placed below reference to bootsrap for order of preference -->*@
    <link href="~/content/css/extended/main.css" rel="stylesheet" />
    <!-- JQuery script. Not placed at bottom of page as it is needed for a number of page scripts -->
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
</head>

<body>
    @Html.MvcSiteMap().Menu("BootstrapNavBarHelperModel")
    <div>
        @RenderBody()
    </div>
    <div class="bottom">
        <div class="container-content-bottom">
            <div class="row">
                <div class="col-md-4">
                    <h4>About</h4>
                    <p>this is some text in the first column this is some text in the first columnthis is some text in the first columnthis is some text in the first columnthis is some text in the first column</p>
                </div>
                <div class="col-md-4">
                    <h4>Placeholder</h4>
                    this is some text in the second columnthis is some text in the first columnthis is some text in the first columnthis is some text in the first columnthis is some text in the first column
                </div>
                <div class="col-md-4">
                    <h4>Connect</h4>
                    <a href="http://www.flickr.com/people/barryarnott"><img src="~/Content/Images/SharedImages/flickr.png" alt="" /></a><img src="~/Content/Images/SharedImages/linkedin.png" alt="" /><img src="~/Content/Images/SharedImages/twitter.png" alt="" /><img src="~/Content/Images/SharedImages/email.png" alt="" />
                    <img class="pull-right" src="~/Content/Images/SharedImages/profile.png" alt="" />
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-content-footer">
                <footer>
                    <p class="pull-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>&copy; 2013 barryarnott.com</p>
                </footer>
            </div>
        </div>
    </div>
    <!-- Scripts at end of document so page loads quicker -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
