@model IEnumerable<SiriusApplication.Models.Album>

<div class="container marketing">
    <h2 class="featurette-heading">Latest Albums</h2>
    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-lg-4 text-center">
                <img class="img-circle" width="140" height="140"  alt="@album.Description" src="@this.Url.Action("GetAlbumCoverImage", "Photography", new { id = album.AlbumId })"/>
                <h2>@album.Title</h2>
                <p>@album.Description</p>
            </div>
        }
    </div>
</div>