@model SiriusApplication.Models.Image

@{ int increment = ViewBag.Increment; }
@{ var googleMapCanvasId = "map_canvas" + increment; }

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&region=GB" type="text/javascript"></script>
<script src="~/Scripts/googleMaps.js"></script>

@*TODO: currently the google maps can only display 3 maps on one page which is obviously no good for more than 3 results*@
<!-- This is the div that will contain the Google Map -->
<div id=@googleMapCanvasId style="height: 400px;"></div>