@model SiriusApplication.Models.Image

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="~/Scripts/googleMaps.js"></script>

@{ int increment = ViewBag.Increment; }
@{ var googleMapCanvasId = "map_canvas" + increment; }

<p>@increment</p>
<p>@googleMapCanvasId</p>
<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<!-- This is the div that will contain the Google Map -->
<div id=@googleMapCanvasId style="height: 600px;"></div>