<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://barryarnott-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>barryarnott-uat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$barryarnott-uat</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:uikrzrqcvt.database.windows.net,1433;Initial Catalog=siriusUat;User ID=siriusUat@uikrzrqcvt;Password=Obiwan66" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|SiriusApplicationContext-20131112224319.mdf;Initial Catalog=SiriusApplicationContext-20131112224319;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=SiriusApplicationContext-20131112224319; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SiriusApplicationContext-20131112224319.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiriusApplicationContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:uikrzrqcvt.database.windows.net,1433;Initial Catalog=siriusUat;User ID=siriusUat@uikrzrqcvt;Password=Obiwan66" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SiriusApplication.Models.SiriusApplicationContext, SiriusApplication" MigrationConfiguration="SiriusApplication.Migrations.Configuration, SiriusApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:uikrzrqcvt.database.windows.net,1433;initial catalog=siriusUat;user id=siriusUat@uikrzrqcvt;password=Obiwan66;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiriusApplicationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:uikrzrqcvt.database.windows.net,1433;Initial Catalog=siriusUat;User ID=siriusUat@uikrzrqcvt;Password=Obiwan66</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>